<%- include("partials/header") %>

<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/about.css">


    <!-- <div class="container"> -->
        <div class="heading-container container">
    
            <div class="project-details row">
                <div class="col-6">
                    <h1>About the project</h1>
                    <p>
                        This project is a solution to the challenge posed by the Microsoft Engage 2021 Engagement & Mentorship Program for engineering students. 
                        The challenge was to build a fully functional prototype with at least one mandatory functionality - 
                        <i>a minimum of two participants should be able connect with each other using your product to have a video conversation.</i>
                    </p>
                </div>
                <div class="photo col-6">
                    <img src="assets/mslogo.jpg" alt="ms-logo">
                </div>
            </div>

            <div class="my-details row">
                <div class="photo col-6">
                    <img src="assets/me.jpeg" alt="my-image">
                </div>

                <div class="me col-6">
                    <h1>About Me</h1>
                    <p>Geetika Jhanji</p>
                    <p>2nd Year CSE Student</p>
                    <p>Maharaja Agrasen Institute of Technology</p>
                    <p>Email: geetikajhanji11@gmail.com</p>
                    <a type="button" class="btn btn-dark btn-lg" href="https://github.com/geetikajhanji11/engage-ms-teams-clone">Github Project Repo</a>
                </div>
            </div>
            
            
            
            
        </div>
    <!-- </div> -->

        




    </div>

    </section>

</body>
</html>