<%- include("partials/header") %>

<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/end.css">

    <!-- End Container -->
    <div class="end-container container-fluid vertical-center">
        <div>
            <h1>You left the meeting.</h1>
            <a type="button" href="/" class="btn btn-dark btn-lg">Go back to Home</a>
        </div>
        
    </div>
  
</div>
</section>
</body>
</html>