.home {
    padding: 0;
}

.end-container {
    text-align: center;
    height: 90vh;
    background-color: #222831;
}

.end-container h1 {
    color: cadetblue;
    padding: 2%;
    font-weight: 800;
    font-size: 4rem;
}

.end-container div {
    padding-top: 12%;
}